@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/*font-family: 'Roboto', sans-serif;*/

:root {
    --main-color: #333333;
    --main-color2: #e03a3a;
    --font-color: rgb(12, 11, 11);
}
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: .8rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background:black;
    border-radius: 4rem;
}
body {
    background: var(--bg);
}
/* ===========================header style start======================== */
.header{
    width: 100%;
    height: 100vh;
    background-image: url(img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    width: 100%;
    height: auto;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    border-bottom: .1rem solid black;
    z-index: 9999;
    position: fixed;
    top: 0;
}
.navbar .logo img{
    height: 130px;
}
.navbar .links{
    margin-left: 500px;
}
.navbar .links a{
    font-size: 15px;
    color:black;
    margin-right: 20px;
    cursor: pointer;
}
.navbar .links a:hover{
    opacity: .5;
}
.navbar .icons ion-icon{
    font-size: 20px;
    margin-right: 20px;
    color: black;
    cursor: pointer;
}
.navbar .icons ion-icon:hover{
    opacity: .5;
}
/* =============================page1 stylr start ====================== */
    .page1{
        width: 100%;
        height: 100vh;
        display: inline-block;
    }
    .heading1{
        width: 50%;
        height: 100%;
        background: white;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
    }
    .heading1 img{
        width: 700px;
    }
    .heading2{
        width: 50%;
        height: 100%;
        float: left;
        /* background-color: red; */
        margin-left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .heading2 img{
        width: 700px;
    }
/* =============================page1 stylr end ====================== */
/* ===========================header style end======================== */
/* ---------------------------service style start==================== */
.service{
    width: 100%;
    height: 450px;
    /* background-color: #719430; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.service_main{
    width: 1200px;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.service_box{
    width: 400px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 20px black;
}
.service_box2{
    background-color: #343434;
    margin-top: -100px;
    z-index: -1;
    color: white;
}
.service_box h1{
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    padding: 30px;
}
.service_box h1 span{
    color: #e03a3a;
    font-family: 'lato', Helvetica, Arial, sans-serif;
    font-size: 40px;
}
.service_box p{
    font-size: 15px;
    padding: 0 40px;
    line-height: 25px;
    font-weight: 300;
    color: gray;
}
.service_box button{
    width: 150px;
    height: 50px;
    background: #e03a3a;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 80px;
    cursor: pointer;
}
.service_box button ion-icon{
    position: relative;
    top: 3px;
    opacity: 0;
}
.service_box button:hover ion-icon{
   opacity: 1;
   margin-left: 20px;
}
.service_box .btn{
    background: transparent;
    border: 3px solid white;
}
/* ---------------------------service style end==================== */
/* ======================Enfold style star============================= */
.Enfold{
    width: 100%;
    height: 200vh;
}
.Enfold h1{
    font-size: 60px;
    font-weight: 200;
    text-align: center;
    margin-top: 50px;
    font-family: Calibri Light (Headings);
}
.main {
    display: flex;
}
.main .text {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}
.main .option {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.option li {
    list-style: none;
    color:black;
    font-size: 60px;
    font-weight: 100;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
    height: auto;
}
@keyframes slide {
    100% {
        top: -360px;
    }
}
.option{
    position: relative;
    left: 100px;
}
.option li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}
.option li span::after {
    content: '';
    position: absolute;
    left: 0;
    height: 120%;
    width: 100%;
    background: rgb(255, 255, 255);
    border-left: 2px solid black;
    animation: typing 3s steps(10) infinite;
}
@keyframes typing {
    40%,
    60% {
        left: calc(100% + 30px);
    }
    100% {
        left: 0;
    }
}
.Enfold h1 .span{
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    position: relative;
    left: 170px;
    bottom: 80px;
}

.Enfold_main{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 5%;
}
.Enfold_main .Enfold_box{
    width: 49%;
    height: 100%;
    /* background-color: teal; */
}
.Enfold_main .Enfold_box h2{
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    margin-top: 100px;
}
.Enfold_main .Enfold_box p{
    font-size: 15px;
    color: gray;
    padding: 30px 100px;
    line-height: 25px;
}
.Enfold_main .Enfold_box .num{
    width: 150px;
    height: 150px;
    /* background-color: wheat; */
    float: left;
    margin-left: 100px;
}
.number{
	width: 150px;
	height: 150px;
	/* background-color: #fe9043; */
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-top: -40px;
    margin-left: 100px;
    color: black;
}
.number h3{
    font-size: 15px;
    font-weight: 300;
    margin-top: 70px;
    color: gray;
}
.number h3 span{
    font-size: 4rem;
    position: relative;
    /* top: -20px; */
    left: 20px;
    color: black;
}
.num h3{
    margin-top: 20px;
}
.number h4{
    font-size: 4rem;
    font-weight: 300;
    margin-top: -20px;
    margin-left: 30px;
    text-align: center;
}
#number_up,
#number_down{
  font-size: 4rem;
  letter-spacing: 5px;
  color: black;
  position: absolute;
  font-weight: 300;
}
#number_up1,
#number_down{
  font-size: 4rem;
  letter-spacing: 5px;
  color: black;
  position: absolute;
  font-weight: 300;

}
.Enfold_box button{
    width: 150px;
    border: 2px solid gray;
    background: transparent;
    font-size: 15px;
    height: 50px;
    border-radius: 5px;
    color: gray;
    margin-top: 50px;
    cursor: pointer;
}
.Enfold_box button:hover{
    background: #e03a3a;
    color: white;
    border:none;
}
.Enfold_box2 img{
    width: 90%;
    height: 500px;
    position: relative;
    left: 10%;
}
.Enfold_box2 img:nth-child(2){
    width: 250px;
    height: 300px;
    position: relative;
    left: -70px;
    top: -250px;
}
.Enfold_box1{
    /* background-color: red; */
    margin-left: -10px;
}
#img{
    width: 200px;
    position: relative;
    left: 480px;
    top: -400px;
}







/* ======================Enfold style end============================= */

















/* ===========================Last style start============================ */
.last{
    width: 100%;
    height: 80vh;
    position: relative;
    margin-top: 200px;
}
.last::before{
    content: " ";
    width: 70%;
    height: 100%;
    background-image: url(img6.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;right: 0;
    bottom: 0;left: 30%;
    z-index: -1;
}














.last_box{
    width: 450px;
    height: 400px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px gray,
             -10px -10px 20px gray;
    position: relative;
    top: 70px;left: 200px;
    padding: 90px;             
}
.last_box h2{
    font-size: 30px;
    font-weight: 100;
}
.last_box p{
    font-size: 15px;
    line-height: 25px;
    margin-top: 20px;
    font-weight: 300;
}
/* ===========================Last style end============================= */













/* =========================portfoio style start============================== */
.portfoio{
    width: 100%;
    height: 880px;
    background: var(--main-color);
}
.row{
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}









.col{
    width: 320px;
    height: 400px;
    background-color: red;
}
.col_img{
    width: 100%;
    height: 300px;
    background-color: #eee;
    overflow: hidden;
    cursor: pointer;
}
.col_img img{
    width: 100%;
    height: 100%;
    opacity: .5;
}


















.col_img:hover img{
    transform: scale(1.1);
    opacity: 1;
}
.col_text{
    width: 100%;
    height: 100px;
    background-color: #eeeeee;
    cursor: pointer;
}
.col_text p{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0 0 20px;
    opacity: .7;
}

















.col_text span{
    font-size: 15px;
    padding: 100px 0 0 20px;
    color: gray;
    position: relative;
    top: 10px;
}


/* =========================portfoio style end=============================== */















/* ============================contact style start================================= */
.contact{
    width: 100%;
    height: 100vh;
    position: relative;
    background: var(--main-color);
    z-index: -1;
}
.contact::before{
    content: " ";
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;right: 0;
    bottom: 0;left: 0;
    background-image: url(img4.jpg);
    background-size: cover;
    background-position: center;
    z-index: -3;
}









.contact::after{
    content: " ";
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;right: 0;
    bottom: 0;left: 60%;
    background-image: url(backgroud.png);
    z-index: -1;
}
.form{
    width: 600px;
    height: 500px;
    background: #eee;
    z-index: 9999;
    position: relative;
    top: 100px;
    margin: auto;
}
















.form h2{
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    padding: 50px 0 20px 0;
}
.form form {
    z-index: 999999;
}
.form form input{
    width: 90%;
    height: 50px;
    border: 2px solid var(--main-color);
    padding: 20px;
    font-size: 20px;
}



















.form form #Message{
    width: 90%;
    height: 200px;
    border: 2px solid var(--main-color);
    padding: 20px;
    font-size: 20px;
}
.form button{
    width: 200px;
    height: 50px;
    border: 2px solid var(--main-color);
    margin-left: 5%;
    font-size: 20px;
}














.form button:hover{
    cursor: pointer;
    background: var(--main-color);
    color: #eee;
}

/* ============================contact style end================================== */

















/* ===============================footer style start================================= */
.footer {
	background: var(--main-color);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    padding: 10px 5%;
}
.footer .credit {
	font-size: 15px;
	flex: 1 1 45rem;
	color: var(--font);
	padding: 1rem 4rem;
}
.footer .credit span {
	color:white;
}
















.footer .links {
	display: flex;
	flex: 1 1 35rem;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	padding: 1rem 0;
}
.iconss ion-icon{
    font-size: 20px;
    margin-right: 0px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}





















.iconss ion-icon:hover{
    background: #eee;
    
}

/* ===============================footer style end=================================== */